[Desktop Entry]
Name=Calculator
Name[zh_CN]=计算器
Exec=/usr/bin/yoyo-calculator
Icon=yoyo-calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=Calculator;
